/******************************
      Authentication
*******************************/

/*navbar login*/

.section-auth-navbar nav .nav-wrapper {
    font-size: 2.1rem
}

.section-auth-navbar nav .nav-wrapper .brand-logo.center,
.section-auth-navbar nav .nav-wrapper .brand-logo.center-align {
    position: absolute;
    left: 45%
}

.section-auth-navbar #extended-navbar ul.sidenav#mobile-demo,
.section-auth-navbar #extended-navbar ul.sidenav#mobile-demo2,
.section-auth-navbar #mobile-collapse ul.sidenav#mobile-demo,
.section-auth-navbar #mobile-collapse ul.sidenav#mobile-demo2 {
    top: 56px;
    width: 350px
}

@media screen and (max-width:540px) {
    .section-auth-navbar nav .nav-wrapper .brand-logo.center,
    .section-auth-navbar nav .nav-wrapper .brand-logo.center-align {
        position: absolute;
        left: 40%
    }
}

/*error auth*/
div.alert-error-auth{
  margin-left: 3rem;
}

small.error-auth {
    font-size: .8rem;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    color: #ff4081;
}

/******************
    NAVBAR
 ***********************/

.navbar .navbar-custom-background{
    background: #17a2b8 !important;
}

.navbar .navbar-custom-background.gradient-shadow{
    box-shadow: 3px 3px 20px 0 rgba(23, 162, 184,.5);
}

/*brand-logo*/


.brand-sidebar .brand-logo {
    font-size: 2.1rem;
    margin: 1px 0;
    padding: 22px 12px 22px 18px;
    color: #333 !important;
}

/*icono del logo*/
.brand-sidebar .logo-wrapper a.brand-logo img.logo-max {
    /*width: 100px;*/
    margin-top: -2px;
    height: 30px;
}
.brand-sidebar .logo-wrapper a.brand-logo img.logo-min {
    height: 30px;
    margin-top: -2px;
}

/*logo*/
.brand-sidebar span.logo-text {
    position: absolute;
    margin-top: 10px;
    padding-left: 10px;
}

/* navbar-item active*/
.sidenav li a.active {
    margin: 0;
    color: #fff;
    background: #17a2b8 ;/*linear-gradient(45deg,#8e24aa,#ff6e40);*/
    box-shadow: none;
}

.sidenav li a.active:hover{
    box-shadow: 3px 3px 20px 0 rgba(23, 162, 184,.5);
}
.sidenav .collapsible-header:hover, .sidenav.fixed .collapsible-header:hover {
    background-color:#17a2b8;
}

/*notifications bagde*/
.navbar .notification-badge {
    background-color: #f44336;
    box-shadow: 0 0 10px 0 #f44336;
}
